{% set MACHINES = MACHINES.split(',')  -%}
machines:
  # heat
  "{{ MACHINES[0] }}":
    series: "{{ UBUNTU_SERIES }}"
    constraints: mem=15G cores=2 root-disk=300G
  # glance, nova-compute
  "{{ MACHINES[1] }}":
    series: "{{ UBUNTU_SERIES }}"
    constraints: mem=7G cores=4 root-disk=40G
  # keystone
  "{{ MACHINES[2] }}":
    series: "{{ UBUNTU_SERIES }}"
    constraints: mem=7G cores=4 root-disk=40G
  # nova-cloud-controller (nova-api)
  "{{ MACHINES[3] }}":
    series: "{{ UBUNTU_SERIES }}"
    constraints: mem=8G cores=2 root-disk=40G
  # Neutron
  "{{ MACHINES[4] }}":
    series: "{{ UBUNTU_SERIES }}"
    constraints: mem=15G cores=2 root-disk=300G
  # openstack-dashboard, mysql, rabbitmq
  "{{ MACHINES[5] }}":
    series: "{{ UBUNTU_SERIES }}"
    constraints: mem=8G cores=2 root-disk=40G


series: "{{ UBUNTU_SERIES }}"
services:
  glance:
    charm: "cs:{{ UBUNTU_SERIES }}/glance"
    num_units: 1
    options:
      debug: "true"
      openstack-origin: "{{ OPENSTACK_ORIGIN }}"
    expose: true
    to:
      - "{{ MACHINES[1] }}"
  keystone:
    charm: "cs:{{ UBUNTU_SERIES }}/keystone"
    num_units: 1
    options:
      admin-password: "password"
      admin-role: "admin"
      debug: "true"
      openstack-origin: "{{ OPENSTACK_ORIGIN }}"
      preferred-api-version: "3"
    expose: true
    to:
      - "{{ MACHINES[2] }}"
  mysql:
    charm: "cs:{{ UBUNTU_SERIES }}/percona-cluster"
    num_units: 1
    options:
      root-password: "password"
      max-connections: 1500
    to:
      - "{{ MACHINES[5] }}"
  rabbitmq-server:
    charm: "cs:{{ UBUNTU_SERIES }}/rabbitmq-server"
    num_units: 1
    to:
      - "{{ MACHINES[5] }}"
  neutron-api:
    charm: "cs:{{ UBUNTU_SERIES }}/neutron-api"
    num_units: 1
    options:
      debug: "true"
      openstack-origin: "{{ OPENSTACK_ORIGIN }}"
      manage-neutron-plugin-legacy-mode: false
      neutron-security-groups: "true"
    expose: true
    to:
      - "{{ MACHINES[4] }}"
  heat:
    charm: "cs:heat"
    num_units: 1
    options:
      debug: "true"
      openstack-origin: "{{ OPENSTACK_ORIGIN }}"
    expose: true
    to:
    - {{ MACHINES[0] }}
  nova-cloud-controller:
    charm: "cs:{{ UBUNTU_SERIES }}/nova-cloud-controller"
    num_units: 1
    options:
      network-manager: "Neutron"
      console-access-protocol: "novnc"
      debug: "true"
      openstack-origin: "{{ OPENSTACK_ORIGIN }}"
    expose: true
    to:
      - "{{ MACHINES[3] }}"
  nova-compute:
    charm: "cs:{{ UBUNTU_SERIES }}/nova-compute"
    series: {{ UBUNTU_SERIES }}
    num_units: 1
    options:
      debug: "true"
      openstack-origin: "{{ OPENSTACK_ORIGIN }}"
      virt-type: "qemu"
      enable-resize: "true"
      enable-live-migration: "true"
      migration-auth-type: "ssh"
    to:
      - "{{ MACHINES[1] }}"
  openstack-dashboard:
    charm: "cs:{{ UBUNTU_SERIES }}/openstack-dashboard"
    num_units: 1
    options:
      debug: "true"
      openstack-origin: "{{ OPENSTACK_ORIGIN }}"
    expose: true
    to:
      - "{{ MACHINES[5] }}"

  # misc

  ubuntu:
    charm: "cs:{{ UBUNTU_SERIES }}/ubuntu"
    num_units: 6
    to:
      - "{{ MACHINES[0] }}"
      - "{{ MACHINES[1] }}"
      - "{{ MACHINES[2] }}"
      - "{{ MACHINES[3] }}"
      - "{{ MACHINES[4] }}"
      - "{{ MACHINES[5] }}"
  ntp:
    charm: "cs:{{ UBUNTU_SERIES }}/ntp"


relations:

- [ nova-compute:amqp, rabbitmq-server:amqp ]
- [ keystone:shared-db, mysql:shared-db ]
- [ nova-cloud-controller:identity-service, keystone:identity-service ]
- [ glance:identity-service, keystone:identity-service ]
- [ neutron-api:identity-service, keystone:identity-service ]
- [ neutron-api:shared-db, mysql:shared-db ]
- [ neutron-api:amqp, rabbitmq-server:amqp ]
- [ glance:shared-db, mysql:shared-db ]
- [ glance:amqp, rabbitmq-server:amqp ]
- [ nova-cloud-controller:image-service, glance:image-service ]
- [ nova-compute:image-service, glance:image-service ]
- [ nova-cloud-controller:cloud-compute, nova-compute:cloud-compute ]
- [ nova-cloud-controller:amqp, rabbitmq-server:amqp ]
- [ openstack-dashboard:identity-service, keystone:identity-service ]
- [ nova-cloud-controller:shared-db, mysql:shared-db ]
- [ nova-cloud-controller:neutron-api, neutron-api:neutron-api ]
- [ heat:shared-db, mysql:shared-db ]
- [ heat:amqp, rabbitmq-server:amqp ]
- [ heat, keystone ]

- [ ubuntu, ntp ]
