{% set JUJU_MACHINES = JUJU_MACHINES.split(',')  -%}
machines:

  "{{ JUJU_MACHINES[0] }}":
    series: "{{ UBUNTU_SERIES }}"
    constraints: mem=16G cores=8 root-disk=120G

series: "{{ UBUNTU_SERIES }}"
services:

  # kubernetes

  easyrsa:
    series: "{{ UBUNTU_SERIES }}"
    charm: cs:~containers/easyrsa-303
    num_units: 1
    to:
    - {{ JUJU_MACHINES[0] }}

  etcd:
    series: "{{ UBUNTU_SERIES }}"
    charm: cs:~containers/etcd-501
    num_units: 1
    options:
      channel: 3.2/stable
    to:
      - "{{ JUJU_MACHINES[0] }}"

  kubernetes-master:
    series: "{{ UBUNTU_SERIES }}"
    charm: cs:~containers/kubernetes-master-850
    num_units: 1
    expose: true
    options:
      enable-metrics: false
      enable-dashboard-addons: false
      channel: '1.18/stable'
      service-cidr: '10.96.0.0/12'
    to:
      - "{{ JUJU_MACHINES[0] }}"

  kubernetes-worker:
    series: "{{ UBUNTU_SERIES }}"
    charm: cs:~containers/kubernetes-worker-682
    num_units: 1
    options:
      ingress: false
      channel: '1.18/stable'
    to:
      - "{{ JUJU_MACHINES[0] }}"

  containerd:
    series: "{{ UBUNTU_SERIES }}"
    charm: cs:~containers/containerd-80

  # misc

  ubuntu:
    charm: "cs:{{ UBUNTU_SERIES }}/ubuntu"
    num_units: 1
    to:
      - "{{ JUJU_MACHINES[0] }}"
  ntp:
    charm: "cs:{{ UBUNTU_SERIES }}/ntp"

relations:

- [ kubernetes-master:kube-api-endpoint, kubernetes-worker:kube-api-endpoint ]
- [ kubernetes-master:kube-control, kubernetes-worker:kube-control ]
- [ kubernetes-master:certificates, easyrsa:client ]
- [ kubernetes-master:etcd, etcd:db ]
- [ kubernetes-worker:certificates,  easyrsa:client ]
- [ etcd:certificates, easyrsa:client ]
- [ kubernetes-master:container-runtime, containerd:containerd]
- [ kubernetes-worker:container-runtime, containerd:containerd]

- [ ubuntu, ntp ]
