{% set JUJU_MACHINES = JUJU_MACHINES.split(',')  -%}
machines:
  "{{ JUJU_MACHINES[0] }}":
    series: "{{ UBUNTU_SERIES }}"
    constraints: mem=31G cores=8 root-disk=100G

series: "{{ UBUNTU_SERIES }}"
services:
  glance:
    charm: cs:glance
    num_units: 1
    options:
      openstack-origin: {{ OPENSTACK_ORIGIN }}
    to:
    - lxd:0
  keystone:
    charm: cs:keystone
    num_units: 1
    options:
      openstack-origin: {{ OPENSTACK_ORIGIN }}
      admin-password: {{ AUTH_PASSWORD }}
      admin-role: "admin"
      debug: "true"
      openstack-origin: {{ OPENSTACK_ORIGIN }}
    to:
    - lxd:0
  mysql:
    charm: cs:percona-cluster
    num_units: 1
    options:
      innodb-buffer-pool-size: 256M
      max-connections: 1000
      performance-schema: true
      root-password: password
    to:
    - lxd:0
  neutron-api:
    charm: cs:neutron-api
    num_units: 1
    options:
      neutron-security-groups: true
      openstack-origin: {{ OPENSTACK_ORIGIN }}
      debug: "true"
      manage-neutron-plugin-legacy-mode: false
    to:
    - lxd:0
  heat:
    charm: "cs:heat"
    num_units: 1
    options:
      debug: "true"
      openstack-origin: "{{ OPENSTACK_ORIGIN }}"
    expose: true
    to:
    - lxd:0
{%- if OPENSTACK_VERSION == 'train' %}
  placement:
    charm: cs:placement
    num_units: 1
    options:
      openstack-origin: {{ OPENSTACK_ORIGIN }}
      debug: "true"
    to:
    - lxd:0
{%- endif %}
  nova-cloud-controller:
    charm: cs:nova-cloud-controller
    num_units: 1
    options:
      network-manager: Neutron
      openstack-origin: {{ OPENSTACK_ORIGIN }}
      console-access-protocol: "novnc"
      debug: "true"
    to:
    - lxd:0
  nova-compute:
    charm: cs:nova-compute
    num_units: 1
    options:
      openstack-origin: {{ OPENSTACK_ORIGIN }}
      debug: "true"
      virt-type: {{ VIRT_TYPE }}
    to:
    - 0
  openstack-dashboard:
    charm: cs:openstack-dashboard
    num_units: 1
    options:
      openstack-origin: {{ OPENSTACK_ORIGIN }}
      debug: "true"
    to:
    - lxd:0
  rabbitmq-server:
    charm: cs:rabbitmq-server
    num_units: 1
    to:
    - lxd:0

  # misc

  ubuntu:
    charm: "cs:{{ UBUNTU_SERIES }}/ubuntu"
    num_units: 1
    to:
      - "0"
  ntp:
    charm: "cs:{{ UBUNTU_SERIES }}/ntp"

relations:

- [ nova-compute:amqp, rabbitmq-server:amqp ]
- [ keystone:shared-db, mysql:shared-db ]
- [ nova-cloud-controller:identity-service, keystone:identity-service ]
- [ glance:identity-service, keystone:identity-service ]
- [ neutron-api:identity-service, keystone:identity-service ]
- [ neutron-api:shared-db, mysql:shared-db ]
- [ neutron-api:amqp, rabbitmq-server:amqp ]
- [ glance:shared-db, mysql:shared-db ]
- [ glance:amqp, rabbitmq-server:amqp ]
- [ nova-cloud-controller:image-service, glance:image-service ]
- [ nova-compute:image-service, glance:image-service ]
- [ nova-cloud-controller:cloud-compute, nova-compute:cloud-compute ]
- [ nova-cloud-controller:amqp, rabbitmq-server:amqp ]
- [ openstack-dashboard:identity-service, keystone:identity-service ]
- [ openstack-dashboard:shared-db, mysql:shared-db ]
- [ nova-cloud-controller:shared-db, mysql:shared-db ]
- [ nova-cloud-controller:neutron-api, neutron-api:neutron-api ]
- [ heat:shared-db, mysql:shared-db ]
- [ heat:amqp, rabbitmq-server:amqp ]
- [ heat, keystone ]
{%- if OPENSTACK_VERSION == 'train' %}
- [ placement, mysql:shared-db ]
- [ placement, keystone:identity-service ]
- [ placement, nova-cloud-controller ]
{%- endif %}
- [ ubuntu, ntp ]
