series: "{{ UBUNTU_SERIES }}"

machines:

  "{{ MACHINES[0] }}":
    series: "{{ UBUNTU_SERIES }}"
    constraints: mem=16G cores=8 root-disk=120G

services:

  # kubernetes

  easyrsa:
    series: "{{ UBUNTU_SERIES }}"
    charm: cs:~containers/easyrsa
    num_units: 1
    to:
    - lxd:{{ MACHINES[0] }}

  etcd:
    series: "{{ UBUNTU_SERIES }}"
    charm: cs:~containers/etcd
    num_units: 1
    options:
      channel: 3.2/stable
    to:
      - "{{ MACHINES[0] }}"

  kubernetes-master:
    series: "{{ UBUNTU_SERIES }}"
    charm: cs:~containers/kubernetes-master-696
    num_units: 1
    expose: true
    options:
      channel: '1.14/stable'
      service-cidr: '10.96.0.0/12'
      docker_runtime: 'custom'
      docker_runtime_repo: 'deb [arch={ARCH}] https://download.docker.com/linux/ubuntu {CODE} stable'
      docker_runtime_key_url: 'https://download.docker.com/linux/ubuntu/gpg'
      docker_runtime_package: 'docker-ce'
    to:
      - "{{ MACHINES[0] }}"

  kubernetes-worker:
    series: "{{ UBUNTU_SERIES }}"
    charm: cs:~containers/kubernetes-worker-550
    num_units: 1
    options:
      channel: '1.14/stable'
      docker_runtime: 'custom'
      docker_runtime_repo: 'deb [arch={ARCH}] https://download.docker.com/linux/ubuntu {CODE} stable'
      docker_runtime_key_url: 'https://download.docker.com/linux/ubuntu/gpg'
      docker_runtime_package: 'docker-ce'
    to:
      - "{{ MACHINES[0] }}"

  # misc

  ubuntu:
    charm: "cs:{{ UBUNTU_SERIES }}/ubuntu"
    num_units: 1
    to:
      - "{{ MACHINES[0] }}"

  ntp:
    charm: "cs:{{ UBUNTU_SERIES }}/ntp"

relations:


- [ kubernetes-master:kube-api-endpoint, kubernetes-worker:kube-api-endpoint ]
- [ kubernetes-master:kube-control, kubernetes-worker:kube-control ]
- [ kubernetes-master:certificates, easyrsa:client ]
- [ kubernetes-master:etcd, etcd:db ]
- [ kubernetes-worker:certificates,  easyrsa:client ]
- [ etcd:certificates, easyrsa:client ]

- [ ubuntu, ntp ]
