#!/bin/bash

sudo adduser stack
sudo bash -c 'echo "stack           ALL=(ALL)       NOPASSWD: ALL" >> /etc/sudoers'
sudo mkdir /home/stack/.ssh
sudo bash -c 'echo "${SSH_PUBLIC_KEY}" > /home/stack/.ssh/authorized_keys'
sudo chmod 700 /home/stack/.ssh
sudo chmod 644 /home/stack/.ssh/authorized_keys
sudo chown -R stack:stack /home/stack/.ssh
sudo bash -c 'echo "stack:${IPMI_PASSWORD}" | chpasswd'

