resource_registry:
  OS::TripleO::DeployedServer::ControlPlanePort: tripleo-heat-templates/deployed-server/deployed-neutron-port.yaml

parameter_defaults:
  DeployedServerPortMap:
    ${overcloud_cont_instance}-ctlplane:
      fixed_ips:
        - ip_address: ${overcloud_cont_prov_ip}
      subnets:
        - cidr: ${prov_subnet_len}
    ${overcloud_compute_instance}-ctlplane:
      fixed_ips:
        - ip_address: ${overcloud_compute_prov_ip}
      subnets:
        - cidr: ${prov_subnet_len}
    ${overcloud_ctrlcont_instance}-ctlplane:
      fixed_ips:
        - ip_address: ${overcloud_ctrlcont_prov_ip}
      subnets:
        - cidr: ${prov_subnet_len}
